*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* ########### CallengeOne ########### */
.assgin1{
  width: 300px;
  height: 200px;
  font-size: 20px;
  margin: 10px auto;
  background-color: #eeeeee;
  color: #03a9f4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: bold;
}
.assgin1::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color: #03a9f4;
  transform: rotate(-5deg);
  position: absolute;
  z-index: -1;
}
.assgin1::after{
  content: '';
  width: 100%;
  height: 100%;
  background-color: #e91e63;
  transform: rotate(5deg);
  position: absolute;
  z-index: -2;
}
/* ########### CallengeOne ########### */

/* ########### CallengeTwo ########### */
.assgin2{
  margin: 10px auto;
  width: 200px;
  height: 200px;
  background-color: #eee;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  
}
.assgin2::before{
  content: '';
  width: 100%;
  height: 100%;
  border: 10px solid;
  border-color: #e91e63 #e91e63 #e91e63 transparent;
  border-radius: 50%;
  position: absolute;
    transition: .5s;

}
.assgin2::after{
    content: "";
    width: 220px;
    height: 220px;
    position: absolute;
    border: 10px solid;
    border-radius: 50%;
    border-color: #2196f3 transparent #2196f3 #2196f3;
  transition: .5s;
  transition-delay: .5s;

}
/* ########### CallengeTwo ########### */

/* ########### CallengeThree ########### */
.assgin2:hover::before{
  transform: rotate(1turn);
}
.assgin2:hover::after{
    transform: rotate(1turn);
}
/* ########### CallengeThree ########### */